:root {
    --body-background-color: #f0f0f0;
    --body-text-color: #616161;
    --card-background-color: #ffffff; /* 改為白色以增加對比 */
    --nav-background-color: #ffffff; /* 使背景色與卡片顏色有所區分 */
    --nav-border-bottom-color: #e0e0e0;
    --nav-current-border-bottom-color: #59cc95;
    --card-border-color: #59cc95;
    --down-border-left-color: #ce5e5e;
    --down-border-color: #ce5e5e;
    --down-background-color: #ce5e5e;
    --degraded-border-left-color: #ffbe5e;
    --degraded-border-color: #ffbe5e;
    --up-border-left-color: #59cc95;
    --up-border-color: #59cc95;
    --tag-color: #ffffff;
    --tag-up-background-color: #59cc95;
    --tag-down-background-color: #ce5e5e;
    --tag-degraded-background-color: #ffbe5e;
    --change-background-color: #ffbe5e;
    --error-button-border-color: #616161;
    --error-button-background-color: #f0f0f0;
    --error-button-color: #616161;
    --submit-button-border-color: #616161;
    --submit-button-background-color: #f0f0f0;
    --submit-button-color: #616161;
    --graph-opacity: 1;
    --graph-filter: none;
}

img {
    border-radius: 10px;
}

.link,
article {
    border-radius: 0.75rem;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* 添加陰影讓卡片更加突出 */
        transition: 0.3s; /* 平滑過渡 */
}

.link:hover,
article:hover {
    transform: scale(1.05); /* 當滑鼠懸停時，輕微放大卡片 */
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2); /* 增加陰影效果 */
    transition: 0.3s; /* 平滑過渡 */
}

article.down {
    border-left: 3px solid var(--down-border-left-color) !important; /* 增加左邊框寬度 */
    border: 1px solid var(--down-border-color) ; /* 添加邊框線條 */
    color: var(--down-color-color);
        transition: 0.3s; /* 平滑過渡 */
}

article.down:hover {
    background: var(--down-background-color);
    border-color: var(--down-background-color);
    color: #fff;
    transition: 0.3s; /* 平滑過渡 */
}

article.down-active {
    background: var(--down-background-color);
    border-color: var(--down-background-color);
    transition: 0.3s; /* 平滑過渡 */
}

article.degraded {
    border-left: 3px solid var(--degraded-border-left-color) !important; /* 增加左邊框寬度 */
    border: 1px solid var(--degraded-border-color) ; /* 添加邊框線條 */
    color: var(--degraded-color-color);
    transition: 0.3s; /* 平滑過渡 */
}

article.degraded:hover {
    background: var(--degraded-background-color);
    border-color: var(--degraded-background-color);
    transition: 0.3s; /* 平滑過渡 */
}

article.up {
    border-left: 3px solid var(--up-border-left-color) !important; /* 增加左邊框寬度 */
    border: 1px solid var(--up-border-color) ; /* 添加邊框線條 */
    color: var(--up-color-color);
       transition: 0.3s; /* 平滑過渡 */
}

article.up:hover {
    background: var(--up-background-color);
    border-color: var(--up-background-color);
    transition: 0.3s; /* 平滑過渡 */
}

nav {
    border-bottom: 1px solid #e0e0e0; /* 輕微的邊框顏色 */
}

.icon-link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
    padding: 0.5rem;
    border-radius: 0.75rem;
    background-color: #fff;
    border: 1px solid #e0e0e0; /* 輕微邊框讓圖示容器更顯眼 */
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.icon-link-container:hover {
    background-color: #f0f0f0; /* 當懸停時，背景顏色改變 */
    border-color: #c0c0c0; /* 改變邊框顏色 */
}

.icon-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    color: var(--body-text-color);
    text-decoration: none;
    gap: 0.25rem;
    transition: color 0.3s ease; /* 添加過渡效果 */
}

.icon-link:hover {
    color: var(--nav-current-border-bottom-color); /* 當懸停時，改變文字顏色 */
}

@media screen and (max-width: 450px) {
    .icon-link > strong {
        display: none;
    }
}

.icon-divider {
    width: 1px;
    height: 1.5rem;
    background-color: var(--body-text-color);
}

.icon-footnote {
    height: 24px;
    position: absolute;
    top: 12px;
    left: 12px;
}
